#main{
    background-color: lightsalmon;
    }
h1, h2, h3, h4 {
    text-align: center;
}
#aboutMe {
background-color: forestgreen;
}
#contact {
    background-color: forestgreen;
}
#footer{
    background-color: darkgrey;
}
#blue{
    background-color: blue;
    color: white;
}
ul {
    /* float: left;
    width: 100%;
    padding: 0;
    margin: 0; */
    list-style: none;
    text-decoration: none;
    }
    li {
        border: 1px black solid;
        display: inline-block;
        width: 10%;
        font-size: 1.2em;
        color:black;
        text-align: center;
    }
    a {
        text-decoration: none;
    }
