#main{
    background-color: lightsalmon;
    }
h1, h2, h3, h4 {
    text-align: center;
}
#aboutMe {
background-color: forestgreen;
}
#contact {
    background-color: forestgreen;
}
#footer{
    background-color: darkgrey;
}
#blue{
    background-color: blue;
}
